{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="initial-scale=1.0, user-scalable=no, width=device-width">
      <!-- Miscellaneous. -->
      <title>WoodBox</title>
      <link rel="shortcut icon" type="image/x-icon"
            href="{% static "assets/img/favicon.ico" %}">
      <!-- CSS. -->
      <link rel="stylesheet" type="text/css"
            href="{% static "css/styles.css" %}">
   </head>

   <body>
      <!-- VueJS root component. -->
      <div id="app">
         <!-- Router outlet. -->
         <router-view></router-view>
      </div>
      <!-- JS. -->
      <script rel="script" type="text/javascript"
              src="{% static "app/main.js" %}" defer></script>
   </body>
</html>
